*{  
background-color: rgb(71, 71, 71);
color: white;
}

.imagem-kazu {
  position: absolute;
  background: linear-gradient(#e66465, #9198e5);
  opacity: 50%;
  width: 500px;
  height: 500px;
  margin:auto;
  -webkit-animation:issoai 2s infinite;
  animation: issoai 2s linear infinite;
  /*animation: issoai 3s linear 0s infinite;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/

  /*animation-name: issoai;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: ;
  animation-fill-mode: ;
  transition troca animation */
}
.imagem-kazu:hover{
  animation-play-state: paused;
}

@keyframes issoai {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

